Source: pmailq
Section: admin
Priority: extra
Maintainer: Emmanuel Bouthenot <kolter@openics.org>
Build-Depends: debhelper (>= 5), cdbs
Standards-Version: 3.7.3
Homepage: http://kolter.openics.org/projects/pmailq
Vcs-Browser: http://git.openics.org/?p=pmailq.git;a=summary
Vcs-Git: git://git.openics.org/pmailq.git

Package: pmailq
Architecture: all
Depends: python (>= 2.3), postfix
Description: postfix mail queue manager
 pmailq parses output of mailq command from postfix (postqueue -p)
 and permits to perform some actions (like removing or displaying in
 a machine readable format) on a bunch of entries in queue, selected
 by applying patterns on criterias like email address, error message
 from smtp server, message size, mail status in queue.
